*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.big {
    background-color: red;
    flex: 1 1 0;
}

.options {
    background-color: blue;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.options button {
    flex: 1 1 0;
    border: none;
}

.options button:hover {
    opacity: 0.9;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}